.footer{
    background-color: #1e212c;

    color: #787A80;

    padding-bottom: 0.4rem;
    padding-top: 2rem;

    a {
        color: #787A80;
        text-decoration: none;

        &:hover{
            color: #fff;
            text-decoration: none;    
        }
    }

    &__createx-area{
        display: inline-block;


        h1{
            color: #fff;

            font-size: 1.8rem;
            font-weight: bolder;
        }

        img{
            transform: translateX(-0.2rem) translateY(-0.05rem);
        }
    }

    &__createx-area--text{
        padding-top: 0.4rem;
        line-height: 1.2rem;
    }

    &__social-medias{
        padding: 1.4rem 1rem;
        margin-bottom: 2rem;

        height: 2rem;

        button{
            background-color: transparent;
            border-color: transparent;
            opacity: 0.5;
    
            &:hover, &:active{
                opacity: 1;
            }

            svg{
                color: #fff;
            }
        }

    }

    &__routes{

        &-content{

            margin-top: 2rem;
            text-align: center;
            
            h2{
                color: #fff;
                font-size: 1.2rem;
                font-weight: bold;
                padding-bottom: 0.6rem;
            }
            
            ul {
                padding-left: 0;
                list-style-type: none;
                
            }

            li, p{
                padding-top: 0.4rem;
                padding-bottom: 0.4rem;
                
                &:hover, &:active{
                    color: #fff;
                }
            }
            
            img{
                transform: translateY(0.2rem);
                padding-right: 0.2rem;
            }
            
        }
    }

    &__newsletter{
        
        margin-top: 2rem;
        margin-bottom: 2rem;

        
        h2{
            color: #fff;
            font-size: 1.2rem;
            font-weight: bold;
            padding-bottom: 1.6rem;
        }

        &-input{
            background-color: (rgba($color: #fff, $alpha: 0.1));
            border: none;
            border-color: transparent;

            color: #fff;

            &:focus{
                background-color: (rgba($color: #fff, $alpha: 0.1));
                border: none;
                border-radius: 0.4rem;

                border-color: transparent;
                box-shadow: rgba($color: #fff, $alpha: 0.4) 0px 0px 0px 3.2px;
            }
            
            &-area{
                border-color: (rgba($color: #fff, $alpha: 0.5));
            }
        }

        &-button{
            background-color: (rgba($color: #fff, $alpha: 0.1));
            
            border: none;
            border-color: transparent;

            color: #fff;

            &:hover, &:active{
                background-color: (rgba($color: #fff, $alpha: 0.1));
                border: none;
                border-radius: 0.4rem;

                border-color: transparent;
                box-shadow: rgba($color: #fff, $alpha: 0.4) 0px 0px 0px 3.2px;
            }
        }
    }

    &__copyright{

        padding-top: 1rem;
        padding-bottom: 1rem;

        background-color: rgba($color: #fff, $alpha: 0.05);

        color: #fff;
        font-size: 0.6rem;
        text-align: center;

        img{
            height: 0.6rem;
            transform: translateY(0.1rem);
        }

        &-go-top{
            font-size: 1rem;
            color: #787A80;
            font-weight: bold;

            margin-top: 1.2rem;
        }
    }
}

@media(min-width:360px){
    .footer__newsletter{
        h2{
            text-align: center;
        }
    }

    .footer__newsletter-input-area{
        padding-left: 2rem;
        padding-right: 2rem;
    }
}

@media(min-width: 601px){
    .footer__routes{
        display: grid;
        grid-template-areas: 
            "map courses"
            "contact news"
        ;

        padding-left: 2rem;
    }

    .footer__social-medias{
        button{
            padding: 0;
            height: 2rem;
            width: 2rem;
        }

        svg{
            height: 100%;
            width: 100%;
        }
    }

    .footer__newsletter{
        p{
            padding-left: 5rem;
        }
    }

    .footer__newsletter-input-area{
        padding-left: 5rem;
        padding-right: 5rem;
    }
    
}

@media(min-width: 962px){

    .footer__routes{
        grid-template-columns: 0.8fr 1fr;
    }

    .footer__newsletter-input-area{
        padding-left: 5rem;
        padding-right: 5rem;
    }

    .footer__newsletter p{
        padding-right: 3rem;
    }

    .footer__copyright{
        font-size: 0.8rem;
    }
}

@media(min-width: 1280px){

    .footer{
        grid-template-areas: "logo routes" "copyright copyright";
        grid-template-columns: 1fr 1fr;

        padding-left: 4rem;
        padding-right: 4rem;
    }

    .footer__createx-area{
        margin-top: 2rem;
    }

    .footer__routes{
        grid-template-areas: "map courses contact news";
        grid-template-columns: 1fr 1fr 1fr 1fr;
        padding-bottom: 2rem;;
    }

    .footer__newsletter p{
        padding-left: 0;
        padding-right: 0;
    }

    .footer__newsletter-input-area{
        padding-left: 0;
        padding-right: 0;
    }

    .footer__copyright{
        grid-area: copyright;
    }

}

@media(min-width: 1440px){
    .footer{
        display: grid;
        grid-template-columns: 0.3fr 1fr;

        &__copyright{
            img{
                transform: translateY(0);
            }
        }
    }
}